{{!< bare }}
<div class="container">
  <div class="form">
    <h2>Login</h2>
    <form id="loginForm" style="margin-top: 2em;">
      <div class="field">
        <input type="text" name="username" id="fieldUser" class="input" required pattern=.*\S.* />
        <label for="fieldUser" class="label">Username</label>
      </div>
      <div class="field">
        <input type="password" name="password" id="fieldPassword" class="input" required pattern=.*\S.* />
        <label for="fieldPassword" class="label">Password</label>
      </div>
      <button>Login</button>
    </form>
  </div>
</div>
<script>
  window.onload = function () {
    document.getElementById('fieldUser').focus();
  };

  document.getElementById('loginForm').onsubmit = function (ev) {
    ev.preventDefault();
    console.log(ev.currentTarget.elements);
    var json = [].reduce.call(ev.currentTarget.elements, function(data, element) {
      data[element.name] = element.value;
      return data;
    }, {});
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ endpoint }}', true);
    xhr.onload = function () {
        // do something to response
        console.log(this.responseText);
    };
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify(json));
  }

</script>