{{!< bare }}
<div class="container">
  <div class="form" id="loginFormWrap">
    <h2>Login</h2>
    <form id="loginForm" style="margin-top: 2em;">
      <div class="field">
        <input type="text" name="username" id="fieldUser" class="input" required pattern=.*\S.* />
        <label for="fieldUser" class="label">Username</label>
      </div>
      <div class="field">
        <input type="password" name="password" id="fieldPassword" class="input" required pattern=.*\S.* />
        <label for="fieldPassword" class="label">Password</label>
      </div>
      <button>Login</button>
      <div style="padding: 2em 0 0;">
        <a href="#" id="registerLink" title="register">register</a> 
      </div> 
    </form>
  </div>
  
  <div class="form" id="registerFormWrap" style="display: none;">
    <h2>Register</h2>
    <form id="registerForm" style="margin-top: 2em;">
      <div class="field">
        <input type="text" name="username" id="fieldUsername" class="input" required pattern=.*\S.* />
        <label for="fieldUsername" class="label">Username</label>
      </div>
      <div class="field">
        <input type="email" name="email" id="fieldEmail" class="input" required pattern=.*\S.* />
        <label for="fieldEmail" class="label">Email</label>
      </div>
      <div class="field">
        <input type="password" name="password1" id="fieldPassword1" class="input" required />
        <label for="fieldPassword1" class="label">Password</label>
      </div>
      <div class="field">
        <input type="password" name="password2" id="fieldPassword2" class="input" required />
        <label for="fieldPassword2" class="label">Repeat Password</label>
      </div>
      <button>Register</button>
      <div style="padding: 2em 0 0;">
        <a href="#" id="loginLink" title="login">login</a> 
      </div> 
    </form>
  </div>
</div>
<script>
  window.onload = function () {
    document.getElementById('fieldUser').focus();
  };

  function sendForm(data, endpoint, cb) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', endpoint, true);
    xhr.onload = cb || function () {};
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify(data));
  }

  function serializeForm(formElement) {
    return [].reduce.call(formElement.elements, function(data, element) {
      if (element.name) { data[element.name] = element.value; }
      return data;
    }, {});
  }

  var loginLink = document.getElementById('loginLink');
  var loginForm = document.getElementById('loginForm');
  var loginFormWrap = document.getElementById('loginFormWrap');
  
  var registerLink = document.getElementById('registerLink');
  var registerForm = document.getElementById('registerForm');
  var registerFormWrap = document.getElementById('registerFormWrap');

  loginForm.onsubmit = function (ev) {
    ev.preventDefault();
    sendForm(serializeForm(ev.currentTarget), '{{ loginEndpoint }}');
  }

  registerForm.onsubmit = function (ev) {
    ev.preventDefault();
    var data = serializeForm(ev.currentTarget);
    if (!data.username) {
      alert('missing username');
      return;
    }
    if(!data.password1) {
      alert('missing password');
      return;
    }
    if (!data.email) {
      alert('missing email');
      return;
    }
    if (data.password1 !== data.password2) {
      alert('passwords do not match');
      return;
    }
    sendForm(data, '{{ registerEndpoint }}');
  }

  loginLink.onclick = function (ev) {
    ev.preventDefault();
    document.getElementById('fieldUser').focus();
    registerFormWrap.style.display = 'none';
    loginFormWrap.style.display = 'block';
  }

  registerLink.onclick = function (ev) {
    ev.preventDefault();
    document.getElementById('fieldUsername').focus();
    registerFormWrap.style.display = 'block';
    loginFormWrap.style.display = 'none';
  }

</script>