
@import './mixins.less';
@import './basscss.less';
@import './colors.less';
@import './button.less';
@import './list.less';
@import './input.less';
@import './dnd.less';

@headerHeight: 4rem;
@footerHeight: 6rem;

html {
  font-size: 13px;
}

body {
  color: @darker;
  background-color: @light;
  font-family: sans-serif;
  .m0;
}

#BodyInner {
  .fixed;
  .left-0;
  .right-0;
  .bottom-0;
  top: @headerHeight;
  // bottom: @footerHeight;
}

#Header {
  .fixed;
  .left-0;
  .right-0;
  .top-0;
  .border-top;
  .border-box;
  height: @headerHeight;
  color: @light;
  background-color: @theme5;
}

#Footer {
  .fixed;
  .left-0;
  .right-0;
  .bottom-0;
  .border-top;
  .border-box;
  height: @footerHeight;
  background-color: @darker;
}

#PaneLeft {
  background-color: @themeLight
}

#EntryList {
  & > * {
    &:nth-child(odd) {
      background-color: @lighter;
    }
  }
}

.wireframe-section {
  background-color: #efefef;
}

.wireframe-row {
  background-color: #adadad;
}

.wireframe-column {
  background-color: #666;
}

.wireframe-module {
  background-color: #212121;
  color: #efefef;
}

.wireframe-module-wrapper {
  & + .wireframe-module-wrapper {
    .mt1;
  }
}

.dragging-element {
  cursor: move;
}
